.nav {
  position: flex;
  top: 10px;
  left: 10px;
  right: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgba(198, 15, 15, 0.733);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
}

.miniLogo {
  width: 120px;
  height: 45px;
  margin-right: 5px;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.menu a {
  margin: 0 100px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  color: #eeeaea;
}

.menu a.active {
  color: #000000;
}

.exit {
  margin-left: 10px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .logo {
    margin-right: 10px;
  }

  .menu {
    margin-left: 10px;
  }

  .searchForm {
    margin-right: 5px;
  }
}

/* .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b016169c;
    padding: 10px;
  }
  
  .btnLeave {
    display: flex;
    color: rgba(235, 234, 235, 0.715);
    background-color: rgba(102, 3, 3, 0.733);
    border-color: rgba(102, 3, 3, 0.733);
    border-radius: 15%;
    cursor: pointer;
    font-family: 'myFont2';
    align-items: center;
    align-content: center;
  }
  
  .btnLeave:hover {
    font-size: 15px;
    color: rgb(240, 235, 245);
    background-color: rgba(198, 15, 15, 0.733);
    border-color: rgb(240, 235, 245);
  }
  .nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  .nav a:hover {
    color: #ffffff;
    text-shadow: 10px 20px 30px;
  }
  
  .nav .text {
    margin-right: 200px;
  }

  @media screen and (max-width: 700px) {
    .nav {
        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    
    .text {

        font-weight: normal;
        font-size: 18px;
        margin-top: auto;
        margin-bottom: auto;
    }
} */
/* !!!! */
/* .nav {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-around;
    background-color: #2E0A76;
    padding-top: 12px;
    padding-bottom: 15px;
}

.text {
    font-family: 'myFont2';
    font-weight: bold;
    font-size: 30px;
    color: #ecc5f1;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}



@font-face {
    font-family: 'myFont2';
    src: url('../../fontsType/Perfect\ DOS\ VGA\ 437.ttf');
  }

 

@media screen and (max-width: 700px) {
    .nav {
        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    
    .text {

        font-weight: normal;
        font-size: 18px;
        margin-top: auto;
        margin-bottom: auto;
    }
} */