.divGeneral {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  padding: 1%;
}

.div {
  background-color: #6d0505;
  /*background:url(https://i.pinimg.com/564x/2d/89/6f/2d896fb0a1350881d981b6fc6fa0ffd1.jpg);*/
  border: 2px solid #ec1313;
  border-radius: 5%;
  display: inline-block;
  margin-top: 30px;
}

.title {
  color: aliceblue;
}

.hr {
  background-color: #000000; 
  height: 2px; 
  border: 0;
}



.divAllInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divImg {
  display: flex;
  align-items: center;
}

.img {
  width: 650px;
  height: 350px;

}

.info {
  color: white;
  padding-right: 25px;
  padding-left: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
  padding: 5%;
}

span {
  padding-left: 5px;
}



.divBack {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

.btn {
  display: flex;
  color: rgb(240, 235, 245);
  background-color: #6d0505;
  border-color: rgb(240, 235, 245);
  border-width: 2px;
  border-radius: 10%;
  cursor: pointer;
  font-family: 'myFont2';
  font-size: 25px;
  padding: 10px;
  width: 230px;
  justify-content: center;
}

.btn:hover {
  font-size: 27px;
  color: rgb(240, 235, 245);
  background-color: #ec1313;
  border-color: rgb(240, 235, 245);
}



.divLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px; /* Ajusta la altura según tus necesidades */
  flex-direction: column;
}

.loading {
  width: 300px; /* Ajusta el tamaño de la imagen de carga */
  height: 300px;
}


@media screen and (max-width: 700px) {

  .divGeneral {
      display: flex;
      flex-direction: column;
      
      width: 90%;
  }

  .divAllInfo {
      display: block;
  }

  .title {
      font-size: 20px;
  }

  p {
      font-size: 13px;
  }

  .div {
      display: block;
  }

  .img {
      width: 280px;
      height: 180px;
      margin-left: auto;
      margin-right: auto;
  }

  .btn {
      font-size: 20px;
  }

  .loading {
      margin-left: auto;
      margin-right: auto;
  }
}