.searchForm {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .searchInput {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .searchButton {
    color: rgba(0, 0, 0, 0.733);
    background-color: #00000060;
    border-color: rgba(102, 3, 3, 0.733);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .searchButton:hover {
    color: #000000;
    background-color: rgb(247, 247, 247);
    border-color: rgb(9, 9, 9);
}



/* 
.formClass {
    margin-top: auto;
    margin-bottom: auto;
}

.input {
    font-size: 14px;
    border-color: rgba(102, 3, 3, 0.733);
}

.btn {
    color: rgba(102, 3, 3, 0.733);
    background-color: #dedef5;
    border-color: rgba(102, 3, 3, 0.733);
    border-width: 2px;
    border-radius: 10%;
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px; 
    padding-left: 5px;
    margin-left: 2px;
}

.btn:hover {
    color: #f5dede;
    background-color: rgba(198, 15, 15, 0.733);
    border-color: rgb(240, 235, 245);
}

@media screen and (max-width: 700px) {

    .input {
        font-size: 11px;
        width: 110px;
    }
    
    .btn {
        font-size: 14px; 
    }

} */