.divSourceGenres{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.divSource { 
    margin-bottom: "1rem";
}

.divSource2 { 
    display: "flex";
    justify-content: "space-around" 
}

.source {
    background-color: rgba(102, 3, 3, 0.733);
    color: #f5dede;
    border-color: rgba(0, 0, 0, 0.411);
    font-family: serif;
    margin-right: 5px;
    cursor: pointer;
}

.select {
    width: 180px;
    background-color: #f5dede;
    border-color: rgba(102, 3, 3, 0.733);
    border-width: 2px;
}




/* @media screen and (max-width: 700px) {
    
    .divSourceGenres {
        display: flex;
        margin-right: 18px;
    }

    .divSource {
        margin-right: 10px;
        margin-left: 5px;
    }

    .titles {
        font-size: 18px;
        font-weight: normal;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .source {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .select {
        width: 75px;
        font-size: 11px;
        border-width: 2px;
    }

} */