.button {
  display: flex;
  justify-content: space-around;
}

.eachBtn {
  font-size: 16px;
  font-weight: bold;
  color: #f7f5fa;
  border-color: rgba(198, 15, 15, 0.733);
  background-color: rgba(102, 3, 3, 0.733);
  border-width: 3px;
  border-radius: 10%;
  cursor: pointer;
}

.eachBtn:hover {
  font-size: 18px;
  background-color: #ffffff;
  border-color: rgba(198, 15, 15, 0.733);
  background-color: rgba(102, 3, 3, 0.733);

}



@media screen and (max-width: 700px) {

  ul {
      padding-left: 0px;
  }

}
